<%= form_for @post, :html => {:class => 'form-horizontal'} do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field span5' %>
    </div>
  </div>
  <!--<div class="control-group">-->
  <!--<%#= f.label :content, :class => 'control-label' %>-->
  <!--<div class="controls">-->
  <!--<%#= f.text_area :content, :class => "field span5" %>-->
  <!--&lt;!&ndash; <textarea name="post[content]" id="post_content" cols="10" rows="5"></textarea> &ndash;&gt;-->
  <!--</div>-->
  <!--</div>-->
  <div class="control-group">
    <%= f.label :start_on, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_on, {:class => "datepicker"} %>
      <!--<input type="text" value="<%#= @post.start_on %>" name="post[start_on]" id="post_start_on" data-provide='datepicker' class='text_field span5'>-->
    </div>
  </div>
  <div class="control-group">
    <%= f.label :time_zone, :class => 'control-label' %>
    <div class="controls">
      <%= f.time_zone_select :time_zone, get_zone, :default => "Beijing", :class => 'text_field span5' %>
      <%#= f.time_zone_select :time_zone, [ ActiveSupport::TimeZone['Alaska'], ActiveSupport::TimeZone['Hawaii'] ] %>
    </div>
  </div>
  <!-- <address>
    <strong>Twitter, Inc.</strong><br>
    795 Folsom Ave, Suite 600<br>
    San Francisco, CA 94107<br>
    <abbr title="Phone">P:</abbr> (123) 456-7890
  </address> -->
  <div class="control-group">
    <%= f.label :tags, :class => 'control-label' %>
    <div class="controls" id="add_tag">
      <%
         all_tags = Tag.all.map { |e| [e.name, e.id] }
         selected_tag = @post.new_record? ? [] : @post.tags.map { |e| [e.name, e.id] }
         rest_tags = all_tags - selected_tag
      %>
      <!--<div class="will_choose" id="will_choose">-->
      <%#= select_tag :tags, options_from_collection_for_select(@tags, 'id', 'name'), :multiple => true, :id => 'will_choose' %>
      <%= select_tag :rest_tags, options_for_select(rest_tags), :multiple => true, :id => 'will_choose' %>

      <!--</div>-->
      <div class="add_or_delete_tag">
        <ul>
          <li>
            <input type="button" id="add_all" value=">>">
            <%#= link_to '>>', '#', :id => 'add_all' %>
          </li>
          <li>
            <input type="button" id="add_one" value=">">
            <%#= button_to '>', :id => 'add_one' %>
          </li>
          <li>
            <input type="button" id="delete_one" value="<">
            <%#= button_to '<', :id => 'delete_one' %>
          </li>
          <li>
            <input type="button" id="delete_all" value="<<">
            <%#= button_to '<<', :id => 'delete_all' %>
          </li>
        </ul>
      </div>
      <!--<div class='choosed'>-->
      <%= select_tag 'selectedTags', options_for_select(selected_tag), :multiple => true, :id => 'choosed' %>
      <%= hidden_field_tag :tags %>
      <!--</div>-->
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary', :id => 'submit' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn' %>
  </div>
<% end %>
<script>
  var leftSel = $("#will_choose");
  var rightSel = $("#choosed");
  var selArray = [];

  //按钮按键
  $("#add_all").bind("click", function () {
    leftSel.children().remove().appendTo(rightSel);
  });

  $("#add_one").bind("click", function () {
    leftSel.find("option:selected").each(function () {
      $(this).remove().appendTo(rightSel);
    });
  });

  $("#delete_all").bind("click", function () {
    rightSel.children().remove().appendTo(leftSel);
  });

  $("#delete_one").bind("click", function () {
    rightSel.find("option:selected").each(function () {
      $(this).remove().appendTo(leftSel);
    });
  });

  //选项上双击选择
  leftSel.dblclick(function () {
    $(this).find("option:selected").each(function () {
      $(this).remove().appendTo(rightSel);
    });
  });
  rightSel.dblclick(function () {
    $(this).find("option:selected").each(function () {
      $(this).remove().appendTo(leftSel);
    });
  });

  $("#submit").click(function () {
    rightSel.find("option").each(function () {
      selArray.push(this.value);
    });
    $("#tags").attr("value", selArray.join(","));
  });


</script>