<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= link_to_unless_current @post.title, @post %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Start on:</b>
  <%= @post.start_on %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<h2>Comments</h2>
<% @post.comments.each do |comment| %>
    <div>
      <strong><%= time_ago_in_words(comment.created_at) %></strong><br/>
      <%= comment.content %>
    </div>
    <%#= link_to 'Edit', edit_post_path(comment) %>
    <%#= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
<% end %>

<%= form_for [@post, Comment.new] do |f| %>
    <p>
      <%= f.label :content, "New Comment" %>
      <%= f.text_area :content, :size => "5X5" %>
    </p>
    <p><%= f.submit "Create Comment" %></p>
<% end -%>