<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "my97/WdatePicker.js"%>
  <%= csrf_meta_tags %>

</head>
<body>
<%= flash[:notice] %><br/>
<%= yield %>



</body>
</html>
